{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "ANTHROPIC_API_KEY": "sk-ant-REMPLACER-PAR-TA-CLE",
    "ANTHROPIC_MODEL": "claude-sonnet-4-6"
  }
}
